* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sedan", serif;
}
body {
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./simpleBG.jpg);
  background-size: cover;
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 1rem;
  min-height: 80vh;
  box-shadow: -3px -3px 48px rgb(76 76 76);
  border-radius: 40px 300px 300px 40px;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 30vw 70vh;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.15)
  );
  backdrop-filter: blur(3px);
}
.kimono-showcase {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.circle {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: linear-gradient(
    0deg,
    rgba(230, 236, 119, 0.8) 0%,
    rgba(201, 203, 204, 0.7) 100%,
    rgba(239, 237, 222, 0.8) 100%
  );
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px #848383;
}
.kimono {
  max-height: 180%;
  min-height: 100%;
}
.info {
  padding: 1.5rem 4rem 1.5rem 1.5rem;
}
.info h1 {
  font-size: 2.5rem;
  color: #8e8e8e;
}
.info h3,
h4 {
  color: #585858;
  font-weight: lighter;
  padding: 1.2rem 0rem;
}
.info h4 {
  font-size: 0.8rem;
}
.packageSelection {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem 0;
}
.packageButton {
  font-size: 0.8rem;
  border-radius: 50px;
  border: #585858;
  background: linear-gradient(
    0deg,
    rgba(230, 236, 119, 0.8) 0%,
    rgba(201, 203, 204, 0.7) 100%,
    rgba(239, 237, 222, 0.8) 100%
  );
  padding: 0.5rem;
  color: #585858;
  font-weight: 200;
  box-shadow: 0 2px 5px #585858;
}
.rent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rentButton {
  font-size: 1rem;

  border: none;
  background: none;
  padding: 1rem;
  color: #585858;
  font-weight: 100;
  width: 100%;
}

.packageButton {
  cursor: pointer;
  margin: 0.2rem;
}
.packageButton:active {
  background: #8e8e8e;
  color: white;
}
